{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Rectification {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/checklist.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
<form action="{% url 'rectification-alert' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{% if row %}
<input type="hidden" name="comment" value = "{{row.comment}}"/>
<input type="hidden" name="date_due" value = "{{row.date_due}}"/>
<input type="hidden" name="row_id" value = "{{row.id}}"/>
<input type="hidden" name="checklist_type" value = "{{row.checklist_type}}"/>
    <div class="row">

        <div class="col-12">
            <div>                               
                <h1>
                {{row.section}}
                </h1>
                
                        
                <h2>
                {{row.subsection}}
                </h2>
    
                
            </div>
            <div class="card">

                <div class="card-body">
                    <p class="question-text">{{row.question}}</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                
                <div class="card-body">
                    <p class="question-text">{{row.comment}}</p>
                </div>
                

            </div>

        </div>
    </div>

    <div class="row">
        {%if row.photo%}
        <div class="col-12">
            <img src = "{{row.photo.url}}"/>
        </div>
        {% endif %}

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                
                <div class="card-body">
                    <p class="question-text">Date due: {{row.date_due}}</p>
                </div>
                

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                
                <div class="card-header">
                    <p class="comment-inactive">Update</p>
                </div>
                <div class="card-body">
                    <input name = "update" class="comment" required/>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12" style="height:40px;">
            <input name="photo" type="file" id="actual-btn" hidden/>
            <label for="actual-btn">Upload Photo</label>
        </div>

    </div>

    
{% endif %}

    <div class="row">
        <div class="col-12">
            <button class="button done-special" type="submit" name="submit" value="rectify">Rectify</button>
        </div>
    </div>


</form>


{% endblock content %}