{% extends "layouts/base.html" %}
{% load mathfilters %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-lg-12 col-md-12">
  <div class="card ">
    <div class="card-header">
      <h2 class="card-title"> Non-Compliance</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table tablesorter " id="">
          
          <thead class=" text-primary">
            <tr>
                <th class="text-center">
                    Title
                </th>
              <th class="text-center">
                Due Date
              </th>
              <th class="text-center">
                Appeal
              </th>
              <th class="text-center">
                Rectify
              </th>
            </tr>
          </thead>

          <tbody>
          {% for ck in checklistTable %}
          {% if ck.rect_status != 1 %}
            <tr>
                <td class="text-center">
                   {{ck.comment}}
                </td>
                <td class="text-center">
                  {{ck.date_due}}
                </td>
                {% if ck.appeal_status == 0 %}
                <td class="text-center">
                   Pending
                </td>
                {% elif ck.appeal_status == -1%}
                <td class="text-center">
                   Rejected
                </td>
                
                {% else %}
                <form method='POST' action="{%url 'appeal'%}">
                {% csrf_token %}
                <input type="hidden" name="qn" value = "{{ck.id}}"/>
                <td>
                  <center><button type="submit" style="border-radius: 5px;background-color: yellow; border:none;"> Appeal </a></center>
                </td>
                </form>
                {% endif %}
                {% if ck.rect_status == 0 %}
                <td class="text-center">
                   Pending
                </td>
                {% else %}
                <form method="POST" action="{%url 'rectification'%}">
                {% csrf_token %}
                <input type="hidden" name="qn" value = "{{ck.id}}"/>
                <td>
                  <center><button style="border-radius: 5px;background-color: lightgreen; border:none;"> Rectify </button></center>
                </td>
                </form>
                {% endif %}
                
            </tr>
          
          
          {% endif %}
          {% endfor %}
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row">
      
      <div class="col-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> <span style="font-size:2em;">Audits</span></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Date
                    </th>
                    <th class="text-center">
                      Type
                    </th>
                    <th class="text-center">
                      Score(%)
                    </th>
                    <th class="text-center">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for stb in scoreTable %}
                  <tr>
                    <td>
                    {% comment %} date {% endcomment %}
                      {{ stb.date }}
                    </td>
                    <td class="text-center">
                    {% comment %} type {% endcomment %}
                      {{ stb.checklist_type }}
                    </td>
                    {% comment %} score {% endcomment %}
                    <td class="text-center">
                      {{ stb.score|div:stb.total|mul:100|floatformat:0 }}
                    </td>
                    {% comment %} Status {% endcomment %}
                    <td class="text-center">
                        {% if stb.non_compliance %}
                            <span style="color:red;">
                            Needs Rectification
                            </span>
                        {% else %}
                            <span style="color:green;">
                            Complete
                            </span>
                        {% endif %}
                    </td>
                    
                    
                  </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
</div>

      
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Tenancy</h3>
    </div>
    <div class="card-body">
      <center>Lease Ends on {{lease_end_date}}</center>
    </div>
  </div>

</div>  


{% endblock content %}
