{% load static %}

{% block stylesheets %}
<link href="{% static 'assets/css/sidebar.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{%load static %}
    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a href="{%url 'tenant' %}">
            <img src= "{% static '/assets/img/images/Singhealth-logo.png' %}" alt="Singhealth Logo" class="sidebarLogo">
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
           <li class="{% if 'audit' in request.path %} active {% endif %}">
            <a href="{%url 'manageAudit' %}">
              <img src = "{% static '/assets/img/images/edit-24px.svg' %}" alt="Manage Audit" class="sidebarIcon">
              <p>Manage Non-compliance</p>
            </a>
          </li> 
          <li>
            <a href="{%url 'manageTenant' %}" >
              <img src = "{% static '/assets/img/images/switch_account-24px.svg' %}" alt="Manage Tenant" class="sidebarIcon">
              <p>View Audits</p>
            </a>
          </li>
          
          <li>
            <a href="{% url 'notifications' %}" >
              <img src = "{% static '/assets/img/images/notification_important-24px.svg' %}" alt="Request" class="sidebarIcon">
              <p>Notifications</p>
            </a>
          </li>
         
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
