.question{
    font-size: 25px !important;
}

.question-text{
    font-size: 15px !important;
}

.audit{
    width: 80px;
    height:40px;
    font-size: 20px;
    font-weight: 500;
    border: none
}

.bw{
    color: white;
}

label {
    background-color: #27293D;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top:-10px;
    height: 2em;
    padding-top: 10px;
    padding-bottom: 30px;

}

.comment{
    width: 100%;
    min-height: 2em;
}

.previous{
    text-align: left;
    color: #27293D;
}

.next{
    text-align: right;
    float: right;
    color: #27293D;
}

.left-right{
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    font-size: 1.5em;
    
}

.gray{
    color: rgb(73, 73, 73);
}