.question{
    font-size: 25px !important;
}

.question-text{
    font-size: 15px !important;
}

.audit{
    width: 80px;
    height:40px;
    font-size: 20px;
    font-weight: 500;
    border: none
}

.bw{
    color: white;
}

label {
    background-color: #27293D;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top:-10px;
    height: 2em;
    padding-top: 10px;
    padding-bottom: 30px;

}

.comment{
    width: 100%;
    min-height: 2em;
}

.previous{
    text-align: left;
    color: #27293D;
}

.next{
    text-align: right;
    float: right;
    color: #27293D;
}

.left-right{
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    font-size: 1.5em;
    
}

.gray{
    color: rgb(73, 73, 73);
}

.done{
    background: #F36F38;
    margin-top: 40px;
    font-size: 2em;
    color: white;
    border: none;
    width: 100%;
    height: 3em;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    text-align: center;
    padding-top: 0.8em;
}

.done-special{
    background: #F36F38;
    font-size: 2em;
    color: white;
    border: none;
    width: 100%;
    height: 2em;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.col-12{
    padding: 0px;
}

label{
    display: flex;
    width: 95%;
    margin: -10px auto;
    justify-content: center;
}

.col-4{
    display: flex;
    justify-content: space-around;
}
.audit{
    border-radius: 5px;
}
.Btn-pass{
    background-color:#b3f1af;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
    width: 80px;
    height: 40px;
}
.Btn-pass:hover{
    background-color: #26E317;
}
.Btn-fail{
    background-color:#fc7070;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
    width: 80px;
    height: 40px;
}
.Btn-fail:hover{
    background-color: #ff0505;
}