.dropdown-menu{
    min-width: 20rem;
    margin: 0px -0.5rem;
    background-color: transparent;
}

.navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu {
    margin: 0px 0.5rem;
}

#navBar{
    background-color: #F36F38;
}


#notifText{
    color: #FFFFFF!important;
    border-color: #F36F38;
}

.dropdown-menu{
    padding: 0!important;
}