{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Attention {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" /> -->
<link href="{% static 'assets/css/request.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/attention.css' %}" rel="stylesheet" />
{% endblock stylesheets %}



{% block content %}

<h1>Appeals</h1>
<hr class= "solidDivider">
{% if appealTable %}
{% for appeal in appealTable %}
<form method="POST" action="{%url 'appeal-reply'%}">
{% csrf_token %}
<input type="hidden" name="appeal_id" value = "{{appeal.id}}"/>
<input type="hidden" name="row_id" value = "{{appeal.row_id}}"/>
<input type="hidden" name="comment" value = "{{appeal.comment}}"/>
<input type="hidden" name="new_date" value = "{{appeal.new_date}}"/>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3>{{appeal.tenant}}</h3>
                <table class="table tablesorter " id="">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                     </colgroup>
                    <tr>
                        <td class="text-center">Checklist type:</td>
                        <td class="text-center">{{appeal.checklist_type}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">Original due date:</td>
                        <td class="text-center">{{appeal.original_date}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">Proposed new date:</td>
                        <td class="text-center">{{appeal.new_date}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">Issue:</td>
                        <td class="text-center">{{appeal.comment}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">Reason for appeal:</td>
                        <td class="text-center">{{appeal.reason}}</td>
                    </tr>
                </table>
                <div class="btnRow">
                    <button type="submit" name="submit" class="btnReject" value="appeal-reject">Reject</button>
                </div>
                <div class="btnRow">
                    <button type="submit" name="submit" class="btnApprove" value="appeal-approve">Approve</button>
                </div>  
            </div>           
        </div>
    </div>     
</div>
</form>
{% endfor %}
{% else %}
<h2 style="color:#ADAFB0">No Appeals</h2>
{% endif %}

<h1>Rectification</h1>
<hr class= "solidDivider">
{% if rectificationTable %}
<form method="POST" action="{%url 'rectification-reply'%}">
{% csrf_token %}
{% for rect in rectificationTable %}
<input type="hidden" name="row_id" value = "{{rect.row_id}}"/>
<input type="hidden" name="rect_id" value = "{{rect.id}}"/>
<input type="hidden" name="comment" value = "{{rect.comment}}"/>
<div class="row">
    <div class="col-12">
        <div class="card">
           
            <div class="card-body">
                <h3>{{rect.tenant}}</h3>
                <table class="table tablesorter " id="">
                    <tbody>
                        <colgroup>
                            <col span="1" style="width: 50%;">
                            <col span="1" style="width: 50%;">
                         </colgroup>
                        <tr>
                            <td class="text-center">Checklist type:</td>
                            <td class="text-center">{{rect.checklist_type}}</td>
                        </tr>
                        <tr>
                            <td class="text-center">Original due date:</td>
                            <td class="text-center">{{rect.date_due}}</td>
                        </tr>
                        <tr>
                            <td class="text-center">Issue:</td>
                            <td class="text-center">{{rect.comment}}</td>
                        </tr>
                        <tr>
                            <td class="text-center">Updates:</td>
                            <td class="text-center">{{rect.update}}</td>
                        </tr>
                    </tbody>
                </table>
                {% if rect.photo %}
                <img src = "{{rect.photo.url}}"/>
                {% endif %}

                <div class="btnRow">
                    <button type="submit" name="submit" class="btnReject" value="rectification-reject">Reject</button>
                </div>
                <div class="btnRow">
                    <button type="submit" name="submit" class="btnApprove" value="rectification-approve">Approve</button>
                </div>
            </div>           
        </div>
    </div>
</div>
</form>
{% endfor %}
{% else %}
<h2 style="color:#ADAFB0">No Rectifications</h2>
{% endif %}

{% endblock content %}