{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Manange Tenant {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" /> -->
<link href="{% static 'assets/css/manageTenant.css' %}" rel="stylesheet" />
{% endblock stylesheets %}



{% block content %}

<h1>Manage Tenant</h1>

<div class="ExistingTenant">
    <h2>Existing Tenants</h2>
    <hr class= "solidDivider">
    <div class="custom-sel" style="width:100%;">
        <select id="tenants">
            <option selected disabled>Choose Tenant... </option>
            {% for tenant in tenants %}
            <option value = "{{tenant.business_name}}">{{tenant.business_name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<button class="Btn" type="button" id='b1'>Search</button>

<form action="{%url 'audit'%%}">
<div class="NewTenant">
    <h2>New Tenant</h2>
    <hr class= "solidDivider">
    <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="Cname">Company Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="Cname" name="business_name" placeholder="Company name...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="Owner Name">Owner Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="oname" name="name" placeholder="Owner name..">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="Contact Number">Contact Number</label>
            </div>
            <div class="col-75">
              <input type="text" id="cNum" name="contact" placeholder="Contact Number...">
            </div>
          </div>
        <!-- <div class="row">
          <input type="submit" value="Create">
        </div> -->
        </form>
    
</div>
<button class="Btn" type="button" id='b1'>Create</button>
</form>

{% endblock content %}


{% block javascripts %}

{% endblock javascripts %}