{% extends "layouts/base.html" %}
{% load static %}


{% block title %} New Audit {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" /> -->
<link href="{% static 'assets/css/newAudit.css' %}" rel="stylesheet" />
{% endblock stylesheets %}



{% block content %}

<h1>New Audit</h1>

{% if messages %}
    <div class="alert alert-success" style="background-color: #d1e7dd; border: 1px solid #badbcc; color: #0f5132">
        &#10004;	Audit successfully completed
    </div>
{% endif %}
<form action="{%url 'createNewAudit'%}" method="POST">
{% csrf_token %}
<div class="SelectTenant">
    <h2>Select Tenant</h2>
    <hr class= "solidDivider">
    <div class="custom-sel" style="width:100%;">
        <select class="tenants" name="tenant">
            <option selected="true" disabled="disabled">Tenants</option>
            {% if tenants%}
            {% for tenant in tenants %}
                <option value={{tenant.business_name}}>{{tenant.business_name}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>
</div>

<div class="SelectChecklist">
    <h2>Select Audit Checklist</h2>
    <hr class= "solidDivider">
    <div class="custom-sel" style="width:100%;">
        <select name="checklist">
            <option selected="true" disabled="disabled">Checklists</option>
            {% for checklist in checklists %}
            <option value="{{checklist.title}}">{{checklist.title}}</option>
            {% endfor %}
        </select>
    </div>
</div>


<button class="createBtn" type="submit" id='b1'>Create</button>
</form>


{% endblock content %}
