{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Requests {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" /> -->
<link href="{% static 'assets/css/request.css' %}" rel="stylesheet" />
{% endblock stylesheets %}



{% block content %}

<h1>Notifications</h1>

<div class="request">
    <hr class= "solidDivider">
    <ul class="requestList">
        {% for n in notifications %}
        <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">{{n.content}}</a></li>
        {% endfor %}
    </ul>
</div>



{% endblock content %}