{% extends "layouts/base.html" %}
{% load mathfilters  %}
{% load static %}

{% block title %} Tenant Info {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/auditInfo.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

    <div class="row">
      
      <div class="col-12">
        <div class="card ">
          <div class="card-header">
            <h2>{{tenant}} Audits</span></h2>
            <hr class= "solidDivider">
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                      Date
                    </th>
                    <th class="text-center">
                      Type
                    </th>
                    <th class="text-center">
                      Score(%)
                    </th>
                    <th class="text-center">
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% for stb in scoreTable %}
                  <tr>
                    <form method = "POST" action="{%url 'auditInfo'%}">
                      {% csrf_token %}
                    <td>
                      <input type="checkbox" name="export_id[]" value="{{ stb.checklist_id }}">
                    </td>
                    </form>

                    <td class="text-center">
                      {% comment %} type {% endcomment %}
                        {{ stb.checklist_type }}
                    </td>
                    <td class="text-center">
                    {% comment %} date {% endcomment %}
                      {{ stb.date }}
                    </td>
                    
                    {% comment %} score {% endcomment %}
                    <td class="text-center">
                      {{ stb.score|div:stb.total|mul:100|floatformat:0 }}
                    </td>
                    <form method = "POST" action="{%url 'auditInfo'%}">
                    {% csrf_token %} 
                    <input type="hidden" name="tenant" value = "{{stb.tenant}}"/>
                    <input type="hidden" name="id" value = "{{stb.checklist_id}}"/>
                    <input type="hidden" name="ck_type" value = "{{stb.checklist_type}}"/>
                      {% comment %} Status {% endcomment %}
                      <td class="text-center">
                        <button class="Btn" type="submit" id='b1'>
                          {% if stb.non_compliance %}
                              <span style="color:red;">
                              Needs Rectification
                              </span>
                          {% else %}
                              Complete
                          {% endif %}
                        </button>
                      </td>
                    </form>
                  </tr>
                    {% endfor %}   
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button id='b2'>Export</button>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    //$(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
    //  demo.initDashboardPageCharts();

    //});


    //function getSelectedCheckboxValues(name) {
    //  const checkboxes = document.querySelectorAll('input[name="${name}"]:checked');
    //  let values = [];
    //  checkboxes.forEach((checkbox) => {
    //     values.push(checkbox.value);
    //  });
    //  return values;
    //}
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    const btn = document.querySelector('#b2');
    btn.addEventListener('click', (event) => {
        //alert("AJAX Sent");
        var checklists = [];
        $("input[name='export_id[]']").each(function (){
          if($(this).is(':checked')){
            checklists.push($(this).val());
          }
        })
        alert(checklists);
        $.ajax({
          type: "POST",
          url: "{% url 'export_checklist' %}",
          data: {'checklists': checklists}
        })
    });


  </script>

{% endblock javascripts %}