{% extends "layouts/base.html" %}
{% load static %}


{% block title %} New Audit {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="{% static 'assets/css/testSel.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="select" id="example">
    <input type="hidden" name="" value="">
    <div class="select-inner"></div>
</div>
    
{% endblock content %}


{% block javascripts %}
<script src={% static "assets/js/testSel.js" %}></script>

<script>
    const myOptions = [{
    name:'jQuery',
    value:'jquery'
    },{
    name:'Script',
    value:'script'
    },{
    name:'Disabled',
    value:'disabled',
    disabled:true
    },{
    name:'Net',
    value:'net'
    },{
    name:'CSS',
    value:'css'
    },{
    name:'Com',
    value:'com'
    }
]

$('#select_test').select({
data: myOptions
});
</script>
{% endblock javascripts %}