{% extends "email_templates/email_base.html" %}

{% block content %}

<tr>
    <td class="wrapper">
        <table role="presentation" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <p>Dear {{ username }}</p>
                    <br />
                    <p>
                        Your exported {{ checklist_type }} checklist for {{ tenant_name }} can be seen below. <br />
                    </p>
                    <div class="table-responsive">
                        <b>Date:</b> {{ checklist.date }} <br />
                        <b>Auditee:</b> {{ checklist.tenant_location }} <br />
                        <b>Auditor:</b> {{ checklist.auditor }} <br />
                        {% if is_checklist_scored %}
                            <b>Total Score:</b> {{ checklist.score }}  
                            <br /> 
                            <br />
                        {% endif %}
                        {% for section in checklist.section %}
                        <table class="table checklist">
                            <tr>
                                <th>
                                    1. Professionalism & Staff Hygiene (10%)
                                    <!--{{ forloop.counter }}. {{ section.name }}-->                                                           
                                </th>
                                <th>Result</th>
                            </tr>
                            <!--
                            {% for subsection in checklist.subsections %}
                                <tr class="subsection">
                                    <td colspan="2">
                                        {{ subsection.name }}
                                    <td>
                                </tr>
                                {% for question in subsection.questions %}
                                <tr>
                                    <td>
                                        {{ question.qn_text }}
                                    </td>
                                    <td>
                                        {{ question.result }}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                            -->
                            <tr class="subsection">
                                <td colspan="2">
                                    Professionalism
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Shop is open and ready to service patients/visitors according to operating hours.
                                </td>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Staff Attendance: adequate staff for peak and non-peak hours. 
                                </td>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr class="subsection">
                                <td colspan="2">
                                    Staff Hygiene
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Food is handled with clean utensils and gloves.   
                                </td>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr class="score_footer">
                                <td>Score:</td>
                                <td>9</td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        {% endfor %}
                        {% if is_checklist_scored %}
                        <div><b>Final overall score</b></div>
                        <table style="border-collapse: collapse;">
                            {% for section in checklist.section %}
                            <tr style="border: 1px solid black">
                                <td style="border: 1px solid black">
                                    {{ forloop.counter }}. {{ section.text }}
                                </td>
                                <td style="border: 1px solid black">
                                    {{ section.score }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                    <!-- photos -->
                    <!-- rectification -->

                    <br />
                    <br />
                    <p>
                        This is an auto-generated email, please do not reply to this email.<br />
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>	
{% endblock content %}